@page
@model IndexModel
@{
    ViewData["Title"] = "Mike's Bike";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la tienda Mike's Bike</h1>
    <img src="https://www.comercionista.com/wp-content/uploads/2009/09/artem-gavrysh-698535-unsplash-800x445.jpg" alt="Mike's Bike" />
</div>
