@page
@model IndexModel
@{
    ViewData["Title"] = "Mike's Bike";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la tienda Mike's Bike</h1>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.aguirrebaeza.com/blog-aguirrebaeza/wp-content/uploads/2020/04/Local-3.png" class="d-block w-100 img-fluid" alt="Mike's Bike">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.britannica.com/63/82563-050-3FCFC72A/Family-country-road.jpg" class="d-block w-100 img-fluid" alt="Mike's Bike">
            </div>
            <div class="carousel-item">
                <img src="https://cdn.vox-cdn.com/thumbor/Exa6bja56hXNDGY5X9wcNh6ql-4=/0x0:6000x4000/1200x800/filters:focal(2520x1520:3480x2480)/cdn.vox-cdn.com/uploads/chorus_image/image/67031235/Yamaha_Civante_Action_VV906564.0.jpg" class="d-block w-100 img-fluid" alt="Mike's Bike">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
