@page
@model TiendaBicicleta.Web.Pages.Clientes.EditarClienteModel
@{
}
<h1 class="text-center">Editar el registro del cliente</h1>
<form method="post">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Cliente.Nombres"></label>
                <input type="text" class="form-control" asp-for="Cliente.Nombres" placeholder="Ingresa los nombres del cliente aquí">
                <span class="text-danger" asp-validation-for="Cliente.Nombres"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Cliente.Apellidos"></label>
                <input type="text" class="form-control" asp-for="Cliente.Apellidos" placeholder="Ingresa los apellidos del cliente aquí">
                <span class="text-danger" asp-validation-for="Cliente.Apellidos"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Cliente.Telefono"></label>
                <input type="text" class="form-control" asp-for="Cliente.Telefono" placeholder="Ingresa el teléfono del cliente aquí">
                <span class="text-danger" asp-validation-for="Cliente.Telefono"></span>
            </div>
            <br />
            <div style="display: flex; justify-content: space-between;">
                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar cambios</button> 
                    <button type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" asp-page="/Clientes/Cliente"><i class="fas fa-arrow-circle-left"></i> Regresar</a></button>
            </div>
        </div>
</form>