@page
@model TiendaBicicleta.Web.Pages.RegistroVentas.CrearRegistroModel
@{
}

<form method="post">
    <div class="form-group">
        <label asp-for="RegistroVenta.ClienteId"></label>
        <input type="text" class="form-control" asp-for="RegistroVenta.ClienteId" placeholder="Ingresa el precio de la bicicleta aquí">
        <span class="text-danger" asp-validation-for="RegistroVenta.ClienteId"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistroVenta.InventarioBicicletaId"></label>
        <input type="text" class="form-control" asp-for="RegistroVenta.InventarioBicicletaId" placeholder="Ingresa el color de la bicicleta aquí">
        <span class="text-danger" asp-validation-for="RegistroVenta.InventarioBicicletaId"></span>
    </div>
    <button type="submit" class="btn btn-primary">Crear registro</button> <br />
    <a asp-page="/">Regresar</a>
</form>