@page
@model TiendaBicicleta.Web.Pages.RegistroVentas.EditarRegistroModel
@{
}
<h1 class="text-center">Editar registro de ventas</h1>
<form method="post">
    <div class="modal-dialog modal-content">
        <div class="modal-body">
            <input type="hidden" asp-for="RegistroVenta.Id" />
            <div class="form-group">
                <label asp-for="RegistroVenta.ClienteId"></label>
                <input type="text" class="form-control" asp-for="RegistroVenta.ClienteId" placeholder="Ingresa el modelo de bicicleta aquí">
                <span class="text-danger" asp-validation-for="RegistroVenta.ClienteId"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="RegistroVenta.InventarioBicicletaId"></label>
                <input type="text" class="form-control" asp-for="RegistroVenta.InventarioBicicletaId" placeholder="Ingresa el precio de la bicicleta aquí">
                <span class="text-danger" asp-validation-for="RegistroVenta.InventarioBicicletaId"></span>
            </div>
            <br />
            <div style="display: flex; justify-content: space-between;">
                <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar cambios</button> <br />
                <button type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" asp-page="/RegistroVentas/MostrarVentas"><i class="fas fa-arrow-circle-left"></i> Regresar</a></button>
            </div>
        </div>
    </div>
</form>