@page
@model TiendaBicicleta.Web.Pages.RegistroVentas.EliminarRegistroModel
@{
}
<div class="text-center">
    <h1>Eliminar el registro de ventas</h1>
    <p>Está a punto de borrar un registro de la tabla que contiene la información de las ventas.</p>
    <p class="text-danger">¿Está seguro que desea continuar?</p>


    <form method="post">
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Eliminar registro</button>
        <button type="button" class="btn btn-info"><a style="text-decoration: none; color: white;" asp-page="/RegistroVentas/MostrarVentas"><i class="fas fa-arrow-circle-left"></i> Regresar</a></button>
    </form>
</div>